@media screen and (max-width: 1499px) {
    .container {
        max-width: 90vw;
    }

    .section4 {
        .container {


            .download {
                h1 {
                    font-size: 3.5vw;

                    span {
                        font-size: 4.5vw
                    }
                }
            }
        }

        .download-btns {
            div {
                height: 65px;
                width: 190px;
            }
        }
    }

    #logo {
        img {
            width: 110px;
            height: 35px;
        }
    }

    .btn {
        font-size: 19px;
        padding: 12px 35px;
    }

    .head {
        height: 90px;
    }
}

@media screen and (max-width: 1250px) {
    .news {
        &-child {
            width: 45%;
        }
    }

    .section4 {
        .download-btns {
            div {
                height: 55px;
                width: 170px;
            }
        }
    }

    .content {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .section-img {
            @include bgImage(cover, no-repeat, center);
            width: 20vw;
            height: 15vw;
        }

        .thesis {
            &-child {
                h1 {
                    margin-left: 20px;
                    font-size: 2vw;

                    span {
                        font-size: 2.2vw;
                        font-weight: 600;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .section2 {
        height: 450px;
    }
}

@media screen and (max-width: 940px) {
    .btn {
        font-size: 15px;
        padding: 12px 34px;
    }

    .head {
        height: 60px;
    }

    .section4 {
        .download-btns {
            flex-direction: column;

            div {
                margin: 10px 0;
                height: 45px;
                width: 160px;
            }
        }
    }

    .news {
        &-child {
            .news-text {
                display: none;
            }
        }
    }

    div[data-name="menu-icon"].container {
        display: inline-block !important;
    }

    .head {
        position: relative;
        background-color: #fff;
        z-index: 3;

        nav {
            position: fixed;
            top: -100vh;
            left: 0;
            flex-direction: column;
            align-content: stretch;
            background-color: #5df8d3;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            font-size: 17px;

            .main-menu {
                flex-direction: column;
            }

            .btn {
                height: auto;
                position: relative;
                bottom: 20px;
                box-shadow: none;
            }
        }

        .mobile-main-menu-on {
            top: 0vh;
        }
    }

    .content {
        .thesis {
            &-child {
                h1 {
                    font-size: 2.5vw;

                    span {
                        font-size: 2.9vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    #logo {
        img {
            width: 80px;
            height: 30px;
        }
    }

    .news {
        justify-content: center;

        &-child {
            width: 85%;

            .news-text {
                display: none;
            }
        }
    }

    .section2 {
        height: 1100px;
    }

    .slider-translation {
        flex-direction: column;

        .container {
            margin: 30px auto;

            .slider-item {
                &-text {
                    position: relative;
                    top: 2vw;
                    height: 50%;
                    .btn {
                        position: absolute;
                        bottom: -50px;
                    }
                }

            }
        }
    }

    .slider-buttons {
        display: none;

        button {
            display: none;
        }
    }

    .btn {
        margin: 0 auto;
        font-size: 22px;
        padding: 13px 32px;
    }

}
@media screen and (max-width: 750px) {
    .slider-translation {
        .slider-item {
            &-img {
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .section1 {
        height: 50vh;
    }
    .content {
            .section-img {
                display: none;
            }

            .thesis {
                &-child {
                    div.icon {
                        width: 8vw;
                        height: 8vw;
                    }

                    .thesis-text {
                        font-size: 17px;

                        span {
                            font-size: 4.3vw
                        }
                    }
                }

                pointer-events: none;
            }
        }
    .section2 {
        .slider {
            .slider-translation {
                .slider-item {
                    &-img {
                        display: none;
                    }
                    &-text {
                        text-align: center;
                        align-items: center;
                        h1 {
                            font-size: 11vw;
                            span {
                                font-size: 7vw;
                            }
                        }
                        p {
                            display: block;
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    .section3 {
        height: 300px;
    }
}