* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: sans-serif;
}
.container {
	margin: 0 auto;
}
@media screen and (min-width: 1440px) {
	.container {
		width: 80vw;
		
	}
}


.header {
	.head {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		#logo {
			background-image: url('../img/logo.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: 150px;
			height: 80px;
		}

		nav {
			display: flex;
			justify-content: space-around;

			ul {
				display: flex;
				justify-content: space-around;
				align-items: center;

				li {
					a {
						text-decoration: none;
						color: #3c3c3c;
					}
				}
				li:not(:first-child) {
					margin-left: 40px;
				}

				.drop-menu {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}